.CarouselArea {
    margin-top: 1em;
    margin-bottom: 2em;
}

.item img {
    height: 450px !important;
    width: 850px !important;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 6;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 6;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 6;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 6;
    }
}

.ProductOpsRow {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 1em;
}

.ProductOpsRow > .ProductOpsSubRow {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.ProductOpsCol {
    margin-left: 1em;
}

.FilterSelecter {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.ProductItemRow {
    display: flex;
    flex-wrap: wrap;
}

.ProductItemRow > .ProductItem {
    margin: 1em;
    border: 1px solid;
    flex-shrink: 0;
    flex-basis: 200px;
}

.ProductItem > .ProductImag {
    padding-top: 5px;
}

.ProductItem > .ProductName {
    padding-top: 5px;
    padding-bottom: 5px;
}

.ProductItem > .ProductPrice {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.5em;
    font-weight: bold;
}

.ProductItem > .ProductOrder {
    padding-top: 5px;
    padding-bottom: 10px;
}

.ProductFilterRow {
    display: flex;
    flex-wrap: nowrap;
    margin: 1em;
}

.ProductFilterRow > .ProductFilterCol {
    margin-right: 1em;
}

.ProductFilterCol > .ProductFilterDelete {
    text-decoration: none;
}

.fa-shopping-cart {
    font-size: 20px;
    color: white;
    padding-right: 0.5em;
}

.fa-kiwi-bird {
    font-size: 28px;
    color: white;
    padding-bottom: 5px;
}

.PageIndexRow {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 1em;
}

.PageIndexRow > .PageIndexItem {
    margin: 5px;
}

.FooterRow {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 1em;
}

.ProductDetailRow {
    display: flex;
    flex-wrap: nowrap;
    margin: 3em 1em;
}

.ProductDetailRow > .ProductDetailImage {
    margin: 1em;
}

.ProductDetailRow > .ProductDetailInfo {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 1em 1em 1em 3em;
}

.ProductDetailTitle {
    padding-bottom: 5px;
}

.ProductDetailPrice {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.5em;
    font-weight: bold;
}

.ProductDetailDescription {
    padding-top: 2em;
}

.ContactRow {
    display: flex;
    flex-wrap: nowrap;
    margin: 3em 1em;
    height: 400px;
}

.ContactRow > .ContactMapWrapper {
    flex: 2;
    background: orange;
    position: relative;
}

.ContactMap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.ContactRow > .ContactInfo {
    flex: 1;
    margin: 2em;
}

.AboutRow {
    display: flex;
    flex-wrap: nowrap;
    margin: 3em 1em;
}

.AboutIntroduction {
    flex: 1;
    margin: 1em;
}

.AboutImageWrapper {
    flex: 1;
    height: 250px;
    overflow: hidden;
    margin: 1em;
}

.AboutImage {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}