.fa-shopping-cart {
    font-size: 20px;
    color: white;
    padding-right: 0.5em;
}

.fa-kiwi-bird {
    font-size: 28px;
    color: white;
    padding-bottom: 5px;
}

.AboutRow {
    display: flex;
    flex-wrap: nowrap;
    margin: 3em 1em;
}

.AboutIntroduction {
    flex: 1;
    margin: 1em;
}

.AboutImageWrapper {
    flex: 1;
    height: 250px;
    overflow: hidden;
    margin: 1em;
}

.AboutImage {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.ContactRow {
    display: flex;
    flex-wrap: nowrap;
    margin: 3em 1em;
    height: 400px;
}

.ContactRow > .ContactMapWrapper {
    flex: 2;
    background: orange;
    position: relative;
}

.ContactMap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.ContactRow > .ContactInfo {
    flex: 1;
    margin: 2em;
}
